{% extends "index_navigation_bar.html" %}


{% block style %}
<style>
    .btn-outline-success {
        margin-right: 20px;
    }
    .slogan-container {
        display:flex;
        flex-direction: column;
        height: 560px;
        width: 100%;
        background-image: url("/image/resource?id=7777");
        background-position:center;
        background-size: 1300px 600px;
        margin-top: 50px;
    }
    .slogan{
        margin-top: 30px;
        height: 220px;
        margin-left: 50px;
        color: white;
    }

    .slogan h1{
        font-family: "Poppins";
        line-height: 56px;
        font-size: 50px;
        font-weight: 600;

    }
    .slogan h2{
        color: #eee;
        margin-left:50px;
        margin-top: 20px !important;
        margin: 10px 0 0 0;
        font-size: 24px;

    }
    .round-btn {
        height:50px;
        width: 200px;
        font-family: "Raleway";
        font-size: 15px;
        letter-spacing: 1px;
        padding: 10px 35px;
        border-radius: 50px;
        transition: 0.5s;
        border: 3px solid #fff;
        color: #fff;
        background-color: Transparent;
        outline:none !important;
        margin-top:150px;
        margin-left:900px;
    button {
        outline:none !important;
    }
</style>
{% endblock %}


{% block navbar_rightmost %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href = '/auth/login';">Sign In</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href = '/auth/email_verify';">Sign Up</button>
{% endblock %}

{% block content %}
    <div class="slogan-container">
        <div class="slogan">
            <div style="margin-top:100px;width:50%;float:right">
            <h1 style="width:100%;">Find textbooks from fellow students</h1>
            <h2 style="width:100%;">Make textbooks affordable for NYUSH community</h2>
            </div>
        </div>
        <button class="round-btn btn-light" onclick="location.href='/auth/email_verify';">Sign Up</button>
    </div>
{% endblock %}