{% extends "navbar_with_avatar_search_bracket.html" %}

{% block style_sheet_link %}
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/listing_view.css') }}">
{% endblock %}


{% block content %}
<section>
<div class="container"style="height:{{listings.__len__()*210+200}}px;width:100%;margin-top:80px !important;">
  <h3>Results for Buyer Posts </h3><p class="prompt">{{textbook.title}}</p>
    <p>{{textbook.author}}, {{textbook.publisher}}, {{textbook.edition}}</p>
    <p>Original price: ￥ {{textbook.price}}</p>
    <input type=button class="btn btn-outline-primary" onClick="location.href='/listing/view_listing?id={{textbook.id}}&listing_type=seller_post'" value='View Seller Posts'>
    {% if listings | count == 0 %}
        <p></p>
        <h2>No Buyer listings are currently available for {{textbook.title}}</h2>
    {% endif %}

  <hr>
    <!-- Listings -->
    {% for listing in listings %}
    <div class="listing-wrapper cursor-pointer" id="{{listing.id}}">
        <div style="display:none;">
            <p id="option-content">{{listing.purchase_option}}</p>
            <p id="offered-price-content">{{listing.offered_price}}</p>
            <p id="checked-user-num-content">{{listing.unlocked_user_ids.__len__()}}</p>
        </div>
        <img class="listing-img" src="/image/bookcover?id={{textbook.cover_image_id}}">
        
        <div class="listing-info">
            <div class="row-1">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-bookmark-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
                </svg>
                <p class="option">{{listing.purchase_option}}</p>
                <img class="avatar_icon" src="/image/avatar?id={{listing.avatar_id}}">
            </div>
            <div class="row-2">
                <p class="price">￥{{listing.offered_price}}</p>
            </div>
            <div class="row-3" style="margin-left:5px;">
                <p class="other-info">Posted on: {{listing.date_added}}</p>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
</section>

<div class="listing-type"style="display:none;">buyer_post</div>




    <!-- Pop-up -->
<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div class = "meta_container" style="width:600px;height:300px;">

            <div class="info_container" style="width:600px;height:100%;display:flex;">

                <div class="exposed_info" style="height:100% !important">

                    <div class ="exposed_info_up">
                        <p class="info_book_name" >{{textbook.title}}</p>
                        <hr>

                        <div style="display:flex;width:100%; margin-left:20px;height:20%;">
                            <img class="nav_avatar_icon" src="/image/avatar?id={{avatar_id}}">
                            <text class="pop_up_purchase_option"></text>
                            <text class="pop_up_offered_price"></text>
                            <text class="pop_up_original_price">￥{{textbook.price}}</text>
                        </div>

                    </div>

                    <div class="exposed_info_down">
                        <div style="margin-left:20px; width:50%; align-self:center;">
                            <text class="pop-up-label">ISBN: </text>
                            <text class="pop-up-info">{{textbook.ISBN}}</text>
                            <br/>
                            <br/>
                            <text class="pop-up-label">Author: </text>
                            <text class="pop-up-info">{{textbook.author}}</text>
                        </div>

                        

                    </div>

                    <div style=" margin-top:10px;height:20%;margin-left:20px;">
                            <text class="pop_up_checked_user" style="width:100%;"></text>
                    </div>


                </div>

                <div class="hidden_info" style="height:100% !important" id="not_requested">
                    <div class="seller-info">
                        <p class="pop-up-name">Yuechuan Zhang</p>
                        <hr>
                        <p class="pop-up-contact-info">yz3919@nyu.edu</p>
                        <p class="pop-up-contact-info">Wechat:Robertation</p>
                    </div>
                    <div class="info-shield">
                        <h3 class="striped-prompt">Unlock Buyer Info</h3>
                    </div>
                </div>

            </div>




    </div>

</div>


{% endblock %}






{% block script %}
<script type="text/javascript" src="/static/js/listing_view.js"></script>
<script type="text/javascript" src="/static/js/search_bracket.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}