{% extends "navbar_with_avatar_search_bracket.html" %}


{% block style_sheet_link %}
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/textbook_view.css') }}">
{% endblock %}


{% block content %}
<section>
<div class="container"style="height:{{(books.__len__()//5+1)*310+100}}px;width:100%;margin-top:80px !important;">
  <p class="prompt">Results for "{{keyword}}" Related Textbooks</p>



  <hr>
  <div class="textbook_container" style="height:500px;width:100%;margin-top:20px;display:flex;flex-wrap:wrap">
    {% for book in books %}
      <div class="textbook_wrapper cursor-pointer" id="{{book.id}}">
        <img class = "bookcover"  src="/image/bookcover?id={{book.cover_image_id}}">
        <div class="info_wrapper">
        <p class="title">{{book.title[:40]+"..." if book.title.__len__() >40 else book.title}}</p>
        <p class="author">{{book.author[:30]+"..." if book.author.__len__() >30 else book.author}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="/static/js/search_bracket.js"></script>
<script type="text/javascript" src="/static/js/textbook_view.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}