{% extends "layout_navigation_bar.html" %}

{% block style_sheet_link %}
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
{% endblock %}

{% block navbar_rightmost %}
  <div class="nav_rightmost_container" style="margin-right: 25px;">
    <img class="nav_avatar_icon" src="/image/avatar?id=3">
    <span class="iconify" data-icon="octicon:bell-16" data-inline="false"></span>


  </div>
{% endblock %}


{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha512-HWlJyU4ut5HkEj0QsK/IxBCY55n5ZpskyjVlAoV9Z7XQwwkqXoYdCIC93/htL3Gu5H3R4an/S0h2NXfbZk3g7w==" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- Masthead -->
    <section class="features-icons text-center">
        <div class="col">
          <div class="icon-container">
            <img class = "icon" src="/image/resource?id=6">
          </div>
          <h4>Search by University ID</h4>
          <p class="mb-5">Find the books you need for this term by university ID</p>
        </div>

        <div class="col">
            <div class="icon-container">
              <img class = "icon" src="/image/resource?id=7">
            </div>
            <h4>Sell & Rent Textbooks</h4>
            <p class="mb-5">Featuring the latest build of the new Bootstrap 4 framework!</p>
          </div>

        <div class="col">
            <div class="icon-container">
              <img class = "icon" src="/image/resource?id=8">
            </div>
            <h4>Make a Donation</h4>
            <p class="mb-5">Ready to use with your own content, or customize the source files!</p>
          </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Search a course or textbook</h2>
          </div>

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div  style="display:flex; height:48px; width:730px;">

              <div class="input-group mb-3" style="height:100% !important;">
                <div class="input-group-prepend" style="height:100% !important; width:25%; ">
                  <select id="search_field" class="form-control input-group-text" style="height:100%; background-color:#343A40; color:white;box-shadow:None !important;">
                      <option value="1">Book Name</option>
                      <option value="2">Course Name</option>
                      <option value="3">Subject</option>
                  </select>
                </div>
                <input id="search_input" type="text" class="form-control" style="height:100%; box-shadow:None !important;" data-provide="typeahead"
     data-source='' data-items="4">
              </div>

              <div class="col-12 col-md-2">
                    <button id = "search_btn" type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
              </div>

            </div>

          </div>
      </div>
    </div>
  </section>



  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Recent Buyer Posts</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Post1</h5>
            <p class="font-weight-light mb-0">Calculs 7th Edition/Buy/300RMB</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Post2</h5>
            <p class="font-weight-light mb-0">Corporate Finance /Rent/ 400RMB</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Post3</h5>
            <p class="font-weight-light mb-0">Algorithms /Buy/100RMB</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}