{% extends "layout_navigation_bar.html" %}

{% block style_sheet_link %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/listing_publish.css') }}">
{% endblock %}


{% block bs_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}
<section style="margin-top: 70px;">
<div class="container">
          <div class="card">
            <div class="card-body tab-content">
              <div class="tab-pane active" id="profile">
                <h6>LISTING INFORMATION</h6>
                <hr>

                <form>


                  <div class="form-group">
                    <label>Select Textbook</label>
                    <select id="textbook_select" class="selectpicker form-control" data-live-search="true">
                      {% for p in textbook_options %}
                      <option value="{{p.id}}">{{p.title}}</option>
                      {% endfor%}
                    </select>
                  </div>
                  <hr>


                  <div id="book_info" class="book_info">
                    <img class="book_cover" src="">
                    <div class="book_des">
                      <p id="title"></p>
                      <p id="author"></p>
                      <p id="publisher"></p>
                      <p id="edition"></p>
                    </div>
                  </div>
                  <hr>


                  <div class="form-group">
                    <label >Purchase Option</label>
                    <select name = "purchase_option" class="form-control" id="purchase_option" value = "{{purchase_option}}">
                      <option value ="Buy">Buy</option>
                      <option value ="Rent">Rent</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Offered Price</label>
                    <input name = "offered_price" type="number" class="form-control" id="offered_price" value = "{{offered_price}}">
                  </div>

                  <div class="form-group">
                    <label >Book Condition</label>
                    <select class="form-control book_condition" id="book_condition">
                      <option value="As_new">As new</option>
                      <option value="Fine">Fine</option>
                      <option value="Fair">Fair</option>
                      <option value="Poor">Poor</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label >Defects (If any)</label>
                    <select class="form-control selectpicker" id="defects" multiple>
                        <option value="Owner inscriptions">Owner inscriptions</option>
                        <option value="Torn edges">Torn edges</option>
                        <option value="Missing pages" >Missing pages</option>
                        <option value="Stained pages">Stained pages</option>
                        <option value="Loose binding">Loose binding</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Photo of your textbook</label>
                    <div id="image_upload_container" style="display:flex;">


                      <div id="image_upload_btn">
                          <label for="file-input">
                              <img style="height:100px; width:100px;" src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                          </label>

                          <input id="file-input" style="display:none;" type="file" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group small text-muted">
                    All of the fields on this page are optional and can be deleted at any time, and by filling them out, you're giving us consent to share this data wherever your user profile appears.
                  </div>
                </form>
                <button id="publish" class="btn btn-primary">publish</button>
              </div>
              </div>
            </div>
</div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/listing_publish.js"></script>

{% endblock %}