{% extends "layout_navigation_bar.html" %}

{% block style_sheet_link %}
      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/textbook_view.css') }}">
{% endblock %}

{% block navbar_rightmost %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha512-HWlJyU4ut5HkEj0QsK/IxBCY55n5ZpskyjVlAoV9Z7XQwwkqXoYdCIC93/htL3Gu5H3R4an/S0h2NXfbZk3g7w==" crossorigin="anonymous"></script>
<div class="search_bracket" style="vertical-align:middle;display:flex; margin-right:200px; height:100%;width:600px;" >
              <div class="input-group mb-1" style="height:100% !important;">
                <div class="input-group-prepend" style="height:100% !important; width:23%; ">
                  <select id="search_field" class="form-control input-group-text" style="font-size:9px;height:100%; background-color:#343A40; color:white;box-shadow:None !important;">
                      <option value="1">Book Name</option>
                      <option value="2">Course Name</option>
                      <option value="3">Subject</option>
                  </select>
                </div>
                <input id="search_input" type="text" class="form-control"  style="height:100%; box-shadow:None !important;" data-provide="typeahead"
     data-source='' data-items="4">
              </div>

              <div class="col-9 col-md-2" style="height:100%" >
                    <button type="submit" id="search_btn" class="btn btn-block btn-lg btn-primary" style="height:100%;font-size:13px">Search</button>
              </div>
</div>
<div class="nav_rightmost_container" style="margin-right: 25px;">
  <img class="nav_avatar_icon" src="/image/avatar?id={{avatar_id}}">
  <span class="iconify" data-icon="octicon:bell-16" data-inline="false"></span>
</div>
{% endblock %}


{% block content %}
<section>
<div class="container"style="height:{{(books.__len__()//5+1)*310+100}}px;width:100%;margin-top:80px !important;">
  <p class="prompt">Results for "{{keyword}}" Related Textbooks</p>
  <hr>
  <div class="textbook_container" style="height:500px;width:100%;margin-top:20px;display:flex;flex-wrap:wrap">
    {% for book in books %}
      <div class="textbook_wrapper cursor-pointer" id="{{book.id}}">
        <img class = "bookcover"  src="/image/bookcover?id={{book.cover_image_id}}">
        <div class="info_wrapper">
        <p class="title">{{book.title[:40]+"..." if book.title.__len__() >40 else book.title}}</p>
        <p class="author">{{book.author[:30]+"..." if book.author.__len__() >30 else book.author}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</section>


  <!-- Footer -->
<section>
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/search_bracket.js"></script>
<script type="text/javascript" src="/static/js/textbook_view.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}